.Profile-content h1 {
box-sizing: border-box;
font-size: 20px;
font-family: sans-serif;
text-align: center;
text-transform: uppercase;
color: #653ff5;
background-color: #ffffff;
border-radius: 10px;
font-weight: 700;
padding: 10px;
font-family: 'Hind Siliguri', sans-serif;
}
.Profile-content{
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 50px;
}

.Profile-content h4,p{
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    margin-top: 2%;
}
#Prfl-pic{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}
.Profile-content Button{
background-color: #5e8eb8;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 2%;
font-size: 20px;
font-family: 'Hind Siliguri', sans-serif;
border-radius: 40px;
}
.Profile-content h6{
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 30px;
}